In [1]:
import pandas as pd
import ast

C:\Users\kanza\AppData\Local\Temp\ipykernel_10144\4135976894.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

Importamos los archivos

In [2]:
games = pd.read_csv('../dfSteamCleaned.csv')
user_items = pd.read_csv('../user_itemsCleaned.csv')

C:\Users\kanza\AppData\Local\Temp\ipykernel_10144\3008288063.py:1: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,12) have mixed types. Specify dtype option on import or set low_memory=False.
  games = pd.read_csv('../dfSteamCleaned.csv')

Eliminaremos los registros que no tengan información sobre el género

In [3]:
games.dropna(subset='genres', inplace=True)

In [4]:
games.info()

<class 'pandas.core.frame.DataFrame'>
Index: 28852 entries, 88309 to 120442
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher     23936 non-null  object
 1   genres        28852 non-null  object
 2   app_name      28851 non-null  object
 3   title         28851 non-null  object
 4   url           28852 non-null  object
 5   release_date  28834 non-null  object
 6   tags          28828 non-null  object
 7   reviews_url   28851 non-null  object
 8   specs         28566 non-null  object
 9   price         27622 non-null  object
 10  early_access  28852 non-null  float64
 11  id            28851 non-null  float64
 12  developer     28682 non-null  object
 13  year          28852 non-null  float64
dtypes: float64(3), object(11)
memory usage: 3.3+ MB

In [5]:
games.head()

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer,year
88309,Kotoshiro,"['Action', 'Casual', 'Indie', 'Simulation', 'S...",Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"['Strategy', 'Action', 'Indie', 'Casual', 'Sim...",http://steamcommunity.com/app/761140/reviews/?...,['Single-player'],4.99,0.0,761140.0,Kotoshiro,2018.0
88310,"Making Fun, Inc.","['Free to Play', 'Indie', 'RPG', 'Strategy']",Ironbound,Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018-01-04,"['Free to Play', 'Strategy', 'Indie', 'RPG', '...",http://steamcommunity.com/app/643980/reviews/?...,"['Single-player', 'Multi-player', 'Online Mult...",Free To Play,0.0,643980.0,Secret Level SRL,2018.0
88311,Poolians.com,"['Casual', 'Free to Play', 'Indie', 'Simulatio...",Real Pool 3D - Poolians,Real Pool 3D - Poolians,http://store.steampowered.com/app/670290/Real_...,2017-07-24,"['Free to Play', 'Simulation', 'Sports', 'Casu...",http://steamcommunity.com/app/670290/reviews/?...,"['Single-player', 'Multi-player', 'Online Mult...",Free to Play,0.0,670290.0,Poolians.com,2017.0
88312,彼岸领域,"['Action', 'Adventure', 'Casual']",弹炸人2222,弹炸人2222,http://store.steampowered.com/app/767400/2222/,2017-12-07,"['Action', 'Adventure', 'Casual']",http://steamcommunity.com/app/767400/reviews/?...,['Single-player'],0.99,0.0,767400.0,彼岸领域,2017.0
88314,Trickjump Games Ltd,"['Action', 'Adventure', 'Simulation']",Battle Royale Trainer,Battle Royale Trainer,http://store.steampowered.com/app/772540/Battl...,2018-01-04,"['Action', 'Adventure', 'Simulation', 'FPS', '...",http://steamcommunity.com/app/772540/reviews/?...,"['Single-player', 'Steam Achievements']",3.99,0.0,772540.0,Trickjump Games Ltd,2018.0

Aplicamos el método literal_eval de la librería ast para convertir los strings de la columna genres en listas reales

In [6]:
type(games['genres'].iloc[0])

str

In [7]:
games['genres'] = games['genres'].apply(ast.literal_eval)

In [8]:
games = games.explode('genres')

In [9]:
type(games['genres'].iloc[0])

str

Vemos que las listas ya se desanidaron

In [10]:
games.head()

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer,year
88309,Kotoshiro,Action,Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"['Strategy', 'Action', 'Indie', 'Casual', 'Sim...",http://steamcommunity.com/app/761140/reviews/?...,['Single-player'],4.99,0.0,761140.0,Kotoshiro,2018.0
88309,Kotoshiro,Casual,Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"['Strategy', 'Action', 'Indie', 'Casual', 'Sim...",http://steamcommunity.com/app/761140/reviews/?...,['Single-player'],4.99,0.0,761140.0,Kotoshiro,2018.0
88309,Kotoshiro,Indie,Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"['Strategy', 'Action', 'Indie', 'Casual', 'Sim...",http://steamcommunity.com/app/761140/reviews/?...,['Single-player'],4.99,0.0,761140.0,Kotoshiro,2018.0
88309,Kotoshiro,Simulation,Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"['Strategy', 'Action', 'Indie', 'Casual', 'Sim...",http://steamcommunity.com/app/761140/reviews/?...,['Single-player'],4.99,0.0,761140.0,Kotoshiro,2018.0
88309,Kotoshiro,Strategy,Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"['Strategy', 'Action', 'Indie', 'Casual', 'Sim...",http://steamcommunity.com/app/761140/reviews/?...,['Single-player'],4.99,0.0,761140.0,Kotoshiro,2018.0

Comprobaremos los valores nulos en la columna genres y year. Los registros que no aporten información en estas columnas no nos sirven para esta función. Recordemos que en el archivo donde hicimos el ETL reemplazamos por 0 los valores nulos para el año de lanzamiento.

In [11]:
games.isna().sum()

publisher       12486
genres              0
app_name            2
title               2
url                 0
release_date       53
tags               46
reviews_url         2
specs             557
price            3199
early_access        0
id                  2
developer         350
year                0
dtype: int64

In [12]:
games = games[(games['year']!=0)]

In [13]:
games.info()

<class 'pandas.core.frame.DataFrame'>
Index: 71216 entries, 88309 to 120442
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher     58740 non-null  object
 1   genres        71216 non-null  object
 2   app_name      71214 non-null  object
 3   title         71214 non-null  object
 4   url           71216 non-null  object
 5   release_date  71216 non-null  object
 6   tags          71170 non-null  object
 7   reviews_url   71214 non-null  object
 8   specs         70659 non-null  object
 9   price         68339 non-null  object
 10  early_access  71216 non-null  float64
 11  id            71214 non-null  float64
 12  developer     70866 non-null  object
 13  year          71216 non-null  float64
dtypes: float64(3), object(11)
memory usage: 8.2+ MB

Del dataframe games nos quedaremos con las columnas genres, year y id.

In [14]:
games = games[['id','genres','year']]

Del df user_items obtendremos el id de usuario, el id del juego y la cantidad de horas jugadas.
Consideraremos que las horas jugadas corresponden al año de lanzamiento.

In [15]:
user_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5170015 entries, 0 to 5170014
Data columns (total 8 columns):
 #   Column            Dtype
---  ------            -----
 0   user_id           object
 1   items_count       int64
 2   steam_id          int64
 3   user_url          object
 4   item_id           float64
 5   item_name         object
 6   playtime_forever  float64
 7   playtime_2weeks   float64
dtypes: float64(3), int64(2), object(3)
memory usage: 315.6+ MB

In [16]:
user_items = user_items[['user_id','item_id','playtime_forever']]

Analizamos si hay duplicados

In [17]:
user_items.duplicated().sum()

59209

In [18]:
user_items[user_items.duplicated()]

                   user_id   item_id  playtime_forever
75762           bokkkbokkk       NaN               NaN
164518              Nikiad      20.0               5.0
164519              Nikiad      50.0               0.0
164520              Nikiad      70.0               0.0
164521              Nikiad     130.0               0.0
...                    ...       ...               ...
4910939  76561198080057659  221910.0              53.0
4910940  76561198080057659  261030.0             253.0
4910941  76561198080057659  273110.0               0.0
4910942  76561198080057659     730.0               0.0
4985583         farquadian       NaN               NaN

[59209 rows x 3 columns]

In [19]:
user_items.drop_duplicates(inplace=True)

Eliminamos los registros con valores nulos y cero en el campo playtime_forever.

In [20]:
user_items.dropna(subset='playtime_forever', inplace=True)
user_items = user_items[(user_items['playtime_forever']!=0)]

In [21]:
user_items.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3246362 entries, 0 to 5170013
Data columns (total 3 columns):
 #   Column            Dtype
---  ------            -----
 0   user_id           object
 1   item_id           float64
 2   playtime_forever  float64
dtypes: float64(2), object(1)
memory usage: 99.1+ MB

In [22]:
user_items['playtime_forever'].isna().sum()

0

Unimos los df haciendo coincidir el id del juego. Unimos el df con datos de los items del usuario y el df con datos del juego.

In [23]:
df=pd.merge(user_items,games, left_on='item_id', right_on='id', how='inner')

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6834424 entries, 0 to 6834423
Data columns (total 6 columns):
 #   Column            Dtype
---  ------            -----
 0   user_id           object
 1   item_id           float64
 2   playtime_forever  float64
 3   id                float64
 4   genres            object
 5   year              float64
dtypes: float64(4), object(2)
memory usage: 312.9+ MB

Los valores del campo playtime_forever están en minutos así que los convertimos a hora dividiendolos en 60.

In [25]:
df['playtime_forever'] = df['playtime_forever']/60

In [26]:
df

,user_id,item_id,playtime_forever,id,genres,year
0,76561197970982479,10.0,0.100000,10.0,Action,2000.0
1,76561197970982479,30.0,0.116667,30.0,Action,2003.0
2,76561197970982479,300.0,78.883333,300.0,Action,2010.0
3,76561197970982479,240.0,30.883333,240.0,Action,2004.0
4,76561197970982479,3830.0,5.550000,3830.0,Action,2005.0
...,...,...,...,...,...,...
6834419,76561198329548331,388490.0,0.050000,388490.0,Adventure,2015.0
6834420,76561198329548331,388490.0,0.050000,388490.0,Free to Play,2015.0
6834421,76561198329548331,521570.0,0.066667,521570.0,Casual,2016.0
6834422,76561198329548331,521570.0,0.066667,521570.0,Free to Play,2016.0
6834423,76561198329548331,521570.0,0.066667,521570.0,Indie,2016.0

Calculamos cuál sería el máximo tiempo de juego posible teniendo en cuenta el año de lanzamiento del juego y el 2021 qué es el año máximo que detectamos en el EDA. Si algún item supera este tiempo de juego, claramente, es un valor erroneo.

Para eso vamos a calcular la columna max_possible_playtime haciendo la diferencia entre 2023 y el año de lanzamiento y multiplicando ese valor por 8760 que representa la cantidad de horas en un año promedio (no bisiesto).

In [27]:
df['max_possible_playtime'] = (2021-df['year'])*8760

Ahora veremos si hay algún registro que supere ese máximo tiempo de juego posible. Tengamos en cuenta que estamos considerando el supuesto extremo de que un jugador pueda pasar 24hs diarias jugando. Así que con toda certeza podemos afirmar que si algún registro del campo playtime_forever supera al valor de max_possible_playtime se trata de un error.

In [28]:
excedidos = df[(df['playtime_forever']>df['max_possible_playtime'])]
excedidos

Empty DataFrame
Columns: [user_id, item_id, playtime_forever, id, genres, year, max_possible_playtime]
Index: []

No hay ningún registro con valores de playtime_forever excedido. Podemos eliminar los dataframes que ya no necesitamos.

In [29]:
del(excedidos, user_items, games)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6834424 entries, 0 to 6834423
Data columns (total 7 columns):
 #   Column                 Dtype
---  ------                 -----
 0   user_id                object
 1   item_id                float64
 2   playtime_forever       float64
 3   id                     float64
 4   genres                 object
 5   year                   float64
 6   max_possible_playtime  float64
dtypes: float64(5), object(2)
memory usage: 365.0+ MB

Podemos eliminar también la columna item_id porque ya no es necesaria.

In [31]:
df.drop(columns='item_id', inplace=True)

Agrupamos el dataframe según género y usuario y ordenamos según playtime_forever.

In [32]:
df = df.groupby(['user_id','genres','year'])['playtime_forever'].sum().reset_index()

In [33]:
df

            user_id    genres    year  playtime_forever
0           --000--    Action  2009.0         88.816667
1           --000--    Action  2010.0          0.366667
2           --000--    Action  2011.0        108.700000
3           --000--    Action  2012.0       1822.433333
4           --000--    Action  2013.0          6.050000
...             ...       ...     ...               ...
2851012  zzzmidmiss    Sports  2010.0          3.233333
2851013  zzzmidmiss    Sports  2014.0          0.266667
2851014  zzzmidmiss  Strategy  2010.0          0.166667
2851015  zzzmidmiss  Strategy  2011.0          1.150000
2851016  zzzmidmiss  Strategy  2012.0         15.383333

[2851017 rows x 4 columns]

Debemos recordar que la columna playtime_forever se refiere a la cantidad de horas que el usuario jugó en total y no solo durante el año de lanzamiento del juego. Es decir, si la columna playtime_forever muestra un valor de 5000 para el año 2007 quiere decir que el usuario jugó 5000 horas a un/unos juego/s lanzado/s en el año 2007, pero no necesariamente jugó todas esas horas en el año 2007. Por eso hay algunos valores superiores a 8784 horas que es la cantidad de horas máximas que puede haber en un año bisiesto.

In [34]:
df[(df['playtime_forever']>=8784)]

                   user_id                 genres    year  playtime_forever
78792    76561197977470391                 Action  2004.0       8822.516667
367030   76561198039832932                  Indie  2006.0      10223.516667
367053   76561198039832932             Simulation  2006.0      10223.516667
1670039        Evilutional                 Action  2012.0      11349.850000
1670046        Evilutional              Adventure  2012.0      10627.333333
1670050        Evilutional                 Casual  2012.0      10614.500000
1670058        Evilutional           Free to Play  2012.0      11186.933333
1670072        Evilutional  Massively Multiplayer  2012.0      11168.150000
1670080        Evilutional                    RPG  2012.0      10681.483333
1670088        Evilutional             Simulation  2012.0      10588.250000
1929822       REBAS_AS_F-T              Adventure  2015.0      10992.500000
1929823       REBAS_AS_F-T              Adventure  2016.0      13171.550000
1929861       REBAS_AS_F-T                  Indie  2015.0      12529.416667
1929862       REBAS_AS_F-T                  Indie  2016.0      13599.816667
2393151         idonothack                 Casual  2015.0      12657.516667
2393163         idonothack           Free to Play  2015.0      12617.083333
2393177         idonothack                  Indie  2015.0      12752.850000
2425092           jimmynoe                  Indie  2006.0       9201.900000
2425118           jimmynoe             Simulation  2006.0       9195.316667
2685854        shinomegami                 Action  2003.0       8879.266667
2685909        shinomegami           Free to Play  2003.0       8848.033333
2685933        shinomegami  Massively Multiplayer  2003.0       8848.033333
2685941        shinomegami                    RPG  2003.0       8849.050000
2685986        shinomegami               Strategy  2003.0       8860.266667
2784428         tsunamitad                 Casual  2011.0      10032.300000
2784447         tsunamitad                  Indie  2011.0      10040.516667
2784483         tsunamitad             Simulation  2011.0      10016.950000
2819422              wolop                  Indie  2006.0      10712.883333
2819436              wolop             Simulation  2006.0      10712.883333

Calculamos el usuario con más horas de juego para cada género.

In [35]:
total_per_genre = df.groupby(['genres','user_id'])['playtime_forever'].sum().reset_index()
total_per_genre

                genres            user_id  playtime_forever
0               Action            --000--       2324.483333
1               Action            --ace--       1155.416667
2               Action          --ionex--        638.583333
3               Action       -2SV-vuLB-Kg        708.333333
4               Action  -404PageNotFound-       1957.050000
...                ...                ...               ...
630595  Web Publishing            zepavil        632.100000
630596  Web Publishing           zeshirky          0.016667
630597  Web Publishing          zevlupine          0.066667
630598  Web Publishing            zilaman          0.150000
630599  Web Publishing          zipper559          0.050000

[630600 rows x 3 columns]

In [36]:
player_with_max_hours = total_per_genre.loc[total_per_genre.groupby('genres')['playtime_forever'].idxmax()]
player_with_max_hours

                           genres            user_id  playtime_forever
49847                      Action            Sp3ctre      28294.166667
110001                  Adventure       REBAS_AS_F-T      36394.700000
129223   Animation &amp; Modeling         ScottyG555       2805.233333
130721           Audio Production        Lickidactyl       1831.933333
168312                     Casual       REBAS_AS_F-T      20415.550000
186213  Design &amp; Illustration         ScottyG555       2805.233333
188551               Early Access  76561197978756659       5282.816667
222959                  Education  76561198059330972       1090.450000
273197               Free to Play         idonothack      13470.683333
326709                      Indie       REBAS_AS_F-T      40049.900000
376835      Massively Multiplayer        Evilutional      11471.000000
396007              Photo Editing           Sky_Wolf        364.750000
450518                        RPG        shinomegami      17676.533333
468215                     Racing    DownSyndromeKid      12390.750000
528702                 Simulation           jimmynoe      17702.166667
536622          Software Training        Lickidactyl       1831.933333
538283                     Sports  76561197995725436       3220.100000
618883                   Strategy        shinomegami      19025.766667
622779                  Utilities  76561198073642113       3460.850000
627500           Video Production         ScottyG555       2805.233333
629892             Web Publishing            Xyphien       2382.733333

In [37]:
del(total_per_genre)

Usaremos el dataframe player_with_max_hours para extraer el nombre de usuario de los usuarios con más horas acumuladas para cada género. Con esos nombres extraeremos la cantidad de horas por año del dataframe df.

In [38]:
resultados = pd.merge(player_with_max_hours, df, left_on='user_id', right_on='user_id', how='inner')
resultados

,genres_x,user_id,playtime_forever_x,genres_y,year,playtime_forever_y
0,Action,Sp3ctre,28294.166667,Action,1995.0,3.616667
1,Action,Sp3ctre,28294.166667,Action,1999.0,0.733333
2,Action,Sp3ctre,28294.166667,Action,2000.0,1177.400000
3,Action,Sp3ctre,28294.166667,Action,2001.0,0.216667
4,Action,Sp3ctre,28294.166667,Action,2002.0,3.966667
...,...,...,...,...,...,...
1979,Web Publishing,Xyphien,2382.733333,Utilities,2014.0,1.616667
1980,Web Publishing,Xyphien,2382.733333,Video Production,2015.0,60.233333
1981,Web Publishing,Xyphien,2382.733333,Web Publishing,2005.0,121.600000
1982,Web Publishing,Xyphien,2382.733333,Web Publishing,2012.0,1077.616667
1983,Web Publishing,Xyphien,2382.733333,Web Publishing,2015.0,1183.516667

In [39]:
resultados.drop(columns='genres_y',inplace=True)

In [40]:
resultados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1984 entries, 0 to 1983
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   genres_x            1984 non-null   object
 1   user_id             1984 non-null   object
 2   playtime_forever_x  1984 non-null   float64
 3   year                1984 non-null   float64
 4   playtime_forever_y  1984 non-null   float64
dtypes: float64(3), object(2)
memory usage: 77.6+ KB

In [41]:
resultados.head()

  genres_x  user_id  playtime_forever_x    year  playtime_forever_y
0   Action  Sp3ctre        28294.166667  1995.0            3.616667
1   Action  Sp3ctre        28294.166667  1999.0            0.733333
2   Action  Sp3ctre        28294.166667  2000.0         1177.400000
3   Action  Sp3ctre        28294.166667  2001.0            0.216667
4   Action  Sp3ctre        28294.166667  2002.0            3.966667

Guardamos los resultados en un archivo csv

In [42]:
resultados.to_csv('userForGenreResults.csv')